# Contribute

Contributions and bug reports welcome, tests even more so.  Please follow these handy [contribution guidelines][contribution-guidelines].

Please see the [section on building][about-building] as modifications will fail the build if they do not conform to formatting conventions 
(there's a Maven profile that trivially fixes this).

Please follow semantic versioning principles, the build will fail if you don't.


## Fork and be happy

You're free to fork the Git repository at [GitHub][github-utilitarian] or [BitBucket][bitbucket-utilitarian] for your own use and updates.

Please contribute your fixes and new features back to the main codebase using pull requests.

## Donations?

We don't accept cash or equivalent donations - but if you've enjoyed or benefited from this tiny library
then please carry out a stealth [random act of kindness][random-act-of-kindness]
for someone/somewhere deserving.  Share the love.



[about-building]: /about.html#Building
[github-utilitarian]: https://github.com/${coordinate.username.project}
[bitbucket-utilitarian]: https://github.com/${coordinate.username.project}
[contribution-guidelines]: https://github.com/necolas/issue-guidelines/blob/master/CONTRIBUTING.md 
[random-act-of-kindness]: https://www.randomactsofkindness.org/kindness-ideas
